.orderscontainer {
  background-color: #274c77;
  border-radius: 16px;
  margin-block-end: 20px;
  width: 300px;
  padding-inline: 15px;
  flex: 1;
  padding-block: 15px;
  overflow-y: overlay;
}
.order {
  width: 100%;
  background-color: aliceblue;
  color: black;
  margin-bottom: 10px;
  border-radius: 16px;
  padding: 10px;
  padding-inline: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.searchContainer {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 264px;
  justify-content: space-between;
  position: relative;
  padding-block: 15px;
  color: white;
}
.fafasearch {
  cursor: pointer;
}
.searchbar {
  background-color: #d9d9d9;
  top: 41px;
  position: absolute;
  left: 85px;
  height: 36px;
  border-radius: 6px;
  padding-inline: 12px;
  color: black;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.orderscontainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.orderscontainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.orderscontainer::-webkit-scrollbar-button:increment,
.orderscontainer::-webkit-scrollbar-button {
  display: none;
}

.orderscontainer::-webkit-scrollbar:horizontal {
  height: 8px;
}

.orderscontainer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 16px;
}

.orderscontainer::-webkit-scrollbar-track {
  border-radius: 10px;
}
