.orderdetailinfo {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
.orderdetailinfo2 {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
