.bar {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 0px;
  padding-block: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (min-device-height: 660px) {
  .bar {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: 0;
    padding-block: 167px;
    height: 0px;
  }
}
