.searchbar {
  width: 100vh;
  background-color: red;
  height: 60px;
  margin-left: 100px;
  border-radius: 16px;
  align-items: center;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
}
.resultdiv {
  height: 71vh;
  background-color: red;
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 16px;
}
